__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
fairino-python-sdk-main/
__pypackages__/
pip-wheel-metadata/
*.qmlc
*.jsc
*.qrc~
*.pro.user
*.qmake.stash
*.qmake.cache
*.log
*.tmp
*.swp
*.bak
*.DS_Store
.vscode/
.idea/
*.code-workspace
.env
*.sqlite
instance/
config/
secrets/
local_settings.py
fairino/
src/fairino/
third_party/fairino/
vendor/fairino/
*.db
*.whl
*.spec
*.manifest
*.dll
*.dylib
*.exe
*.obj
*.o
*.a
*.lib
*.log
*.pch
*.pdb
*.mod.c
*.mod.o
*.pyx.c
Thumbs.db
ehthumbs.db
Desktop.ini
poses.db
